/* Estilos para los círculos */
.option-container {
    display: flex;
    align-items: center;
  }
  
  .option-label {
    position: relative;
    margin-right: 10px;
    padding-left: 25px;
    cursor: pointer;
  }
  
  .option-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #ccc;
  }
  
  /* Cambiar el color del círculo cuando está seleccionado */
  .option-label input[type="radio"]:checked:before {
    border-color: #007bff;
  }
  
  /* Ocultar los radios por defecto */
  .option-label input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  